footer {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px 500px;
  text-align: center;
  font-size: large;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

footer .tel {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
/* 
repnsciveness */
@media (max-width: 768px) {
  footer {
    padding: 10px 20px;
    flex-direction: column;
    text-align: center;
    font-size: medium;
  }

  footer .tel {
    margin-top: 10px;
  }
}
