header {
  background-color: white;
  color: black;
  padding: 20px 0;
  font-family: poppins;
  text-align: center;
}

.navbuttop {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.navbuttop nav {
  display: flex;
}

.navbuttop nav .suparight {
  margin-left: 700px;
}

.navbuttop nav .suparight a {
  color: black;
  text-decoration: none;
  font-size: 40px;
  transition: color 0.3s ease;
  padding: 10px;
}

.navbuttop nav a:hover {
  color: #00aaff;
}

#logo {
  margin: auto;
  margin-top: -70px;
  display: flex;
  width: 250px;
}

.nav-but-below {
  display: flex;
  margin: auto;
  margin-left: 0px;
}
.nav-but-below ul li {
  padding-left: 4rem;
  list-style: none;
}

.nav-but-below ul li a {
  text-decoration: none;
  color: black;
  font-size: x-large;
  border: solid black 2px;
  border-radius: 10px;
  padding: 8px 12px;
  display: inline-block;
}
.nav-but-below ul li a:hover {
  color: #00aaff;
}
/* 
responsive */
@media (max-width: 768px) {
  .navbuttop {
    padding: 0 10px;
  }

  .navbuttop nav {
    flex-direction: column;
    align-items: center;
  }

  .navbuttop nav .suparight {
    margin-left: 0;
  }

  #logo {
    width: 50%;
    margin-top: -40px;
  }

  .nav-but-below ul li a {
    font-size: 1rem;
    padding: 6px 10px;
    margin-left: 92px;
  }
}
