* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  color: black;
  padding: 20px 0;
  font-family: poppins;
  text-align: center;
}

.navbuttop {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.navbuttop nav {
  display: flex;
}

.navbuttop nav .suparight {
  margin-left: 700px;
}

.navbuttop nav .suparight a {
  color: black;
  text-decoration: none;
  font-size: 40px;
  transition: color 0.3s ease;
  padding: 10px;
}

.navbuttop nav a:hover {
  color: #00aaff;
}

#logo {
  margin: auto;
  margin-top: -70px;
  display: flex;
  width: 250px;
}

.nav-but-below {
  width: 300px;
  height: 60px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  margin-top: 20px;
  margin-left: 0px;
}

.nav-but-below .ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-top: 5px;
}

.nav-but-below .ul .li {
  display: inline-block;
}

.nav-but-below .ul .li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 20px;
  position: relative;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-but-below .ul .li a .tooltip {
  display: none;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  font-size: 14px;
  padding: 5px 10px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.nav-but-below .ul .li a:hover .tooltip,
.nav-but-below .ul .li a:focus .tooltip {
  display: block;
  opacity: 1;
}

.nav-but-below .ul .li a:hover {
  color: #00a6ff;
  transform: translateY(-10px);
}

.nav-but-below .ul .li a:active {
  transform: translateY(0);
}

.nav-but-below .ul .li a:focus .tooltip {
  display: block;
  opacity: 1;
}

/*
tablet-mode 
*/
@media (max-width: 991px) and (min-width: 768px) {
  header {
    padding: 15px 0;
  }

  .navbuttop {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    position: relative;
  }

  #logo {
    padding-top: 15px;
    width: 180px;
    position: absolute;
    left: 16px;
    top: 16px;
  }

  .navbuttop nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 280px;
  }

  .navbuttop nav .suparight {
    display: flex;
    flex-direction: row;
  }

  .navbuttop nav .suparight a {
    font-size: 18px;
    margin: 0 10px;
  }
  .nav-but-below {
    margin-top: 69px;
  }

  .nav-but-below .ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nav-but-below .ul .li {
    margin: 0 10px;
  }

  .nav-but-below .ul .li a {
    font-size: 16px;
    padding: 10px 20px;
  }

  .nav-but-below .ul .li a .tooltip {
    bottom: -20px;
  }
}
