/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a default font family */
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Navigation Bar */
.navbar {
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Add space between the profile picture and the hamburger menu */
.nav-logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the margin as needed */
}

/* Add space between the hamburger menu and the navigation links */
.nav-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
    margin-left: 20px; /* Adjust the margin as needed */
}

.navbar:hover {
    background-color: rgba(68, 68, 68, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Add margin between individual navigation links */
.nav-links li {
    margin-right: 20px; /* Adjust the margin as needed */
}

/* Navigation Links */
.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 0;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ed0000;
}

/* CSS for the main content */
main {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

/* CSS for the image container */
.image-container {
    flex: 1;
    position: relative;
}

/* CSS for the image */
#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* CSS for Typed.js text container */
.text-container {
    font-family: 'Poppins';
    flex: 1;
    padding: 20px;
    color: white;
    font-size: 15px;
    text-align: right;
    position: absolute;
    top: 100px;
    transform: translateY(-50%);
    right: 0;
    z-index: 4;
    
}

.social-icons {
    text-align: center;
    position: fixed;
    bottom: 45px;
    left: 99%;
    transform: translateX(-50%);
    z-index: 5;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin-right: 10px;
}

.social-icons i {
    transition: color 0.3s ease;
}

.social-icons a:hover i {
    color: #ff0000;
}

/* Additional styles for the footer */
.footer {
    text-align: center;
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

/* Media query for screens with a maximum width of 768px (e.g., tablets) */
@media (max-width: 768px) {
    /* Show the hamburger menu icon */
    .nav-toggle {
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    .hamburger {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    /* Hamburger icon styles */
.hamburger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add transitions */
}

/* Rotate the first and third lines when the menu is active */
.nav-toggle.active .hamburger:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-toggle.active .hamburger:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Hide the middle line when the menu is active */
.nav-toggle.active .hamburger:nth-child(2) {
    opacity: 0;
}


    /* Hide the navigation links by default */
    .nav-links {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        text-align: center;
        z-index: 2;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    /* Display the navigation links when the .active class is added */
    .nav-links.active {
        transform: translateY(0);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Style for individual navigation links */
    .nav-links a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 24px;
        padding: 20px 0;
        transition: color 0.3s ease;

    }

    /* Add margin between individual navigation links in responsive devices */
        .nav-links li {
            margin-bottom: 25px; /* Adjust the margin as needed */
        }
            
    .nav-links a:hover {
        color: #ed0000;
    }

    
}

/* Media query for screens with a maximum width of 480px (e.g., smartphones) */
@media (max-width: 480px) {
    /* Adjust navigation bar styles for even smaller screens */
    .navbar {
        padding: 10px 5px;
    }

    /* Adjust text container styles for very small screens */
    .text-container {
        font-size: 11px;
    }

        /* Add margin between individual navigation links in responsive devices */
        .nav-links li {
            margin-bottom: 25px; /* Adjust the margin as needed */
        }    
}

